@font-face {
  font-family: "UnicaOne";
  src:
    url("./assets/fonts/UnicaOne.woff2") format("woff2-variations"),
    url("./assets/fonts/UnicaOne.woff") format("woff-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --Unica-One-Font:
    "UnicaOne", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--Unica-One-Font);
}
